{% extends 'base.html.twig' %}

{% block title %} Genres {% endblock %}

{% block body %}
    
    <div class="container">
    <div class="row">
    {% for genre in pagination %}
        <div class="col-lg-4">
        <figure class="figure">
        <a class="" style="text-decoration:none; color: #444; font-family:spartan; font-style:normal;font-weight: 400;" 
        href="{{ path ('genre_show', {slug: genre.slug}) }}"><img src="{{ asset ('images/diamond.png') }}" width="80" height="80">
        <br>
        <figcaption class="figure-caption text-center">{{ genre.name }}</a></figcaption>
        </figure>
        </div>
            
                {#<a class="answer-link" href="{{ path('product_show', { slug: coach.slug }) }}" style="color: #fff;">
                    <p class="q-display-response text-center p-3">
                        <i class="fa fa-magic magic-wand"></i> 15 comments
                    </p>
                </a>#}
    {% else %}
        <h1> We couldn't find a genre! </h1>
    {% endfor %}
    </div>
    </div>
{% endblock %}
