@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

body {
    font-family: spartan;
    color: #444;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
  transform: rotate(20deg);
}

.btn-question { 
  color: #FFFFFF; 
  background-color: #ED7458; 
  border-color: #D45B3F; 
} 
 
.btn-question:hover, 
.btn-question:focus, 
.btn-question:active, 
.btn-question.active, 
.open .dropdown-toggle.btn-question { 
  color: #FFFFFF; 
  background-color: #D45B3F; 
  border-color: #D45B3F; 
} 
 
.btn-question:active, 
.btn-question.active, 
.open .dropdown-toggle.btn-question { 
  background-image: none; 
} 
 
.btn-question.disabled, 
.btn-question[disabled], 
fieldset[disabled] .btn-question, 
.btn-question.disabled:hover, 
.btn-question[disabled]:hover, 
fieldset[disabled] .btn-question:hover, 
.btn-question.disabled:focus, 
.btn-question[disabled]:focus, 
fieldset[disabled] .btn-question:focus, 
.btn-question.disabled:active, 
.btn-question[disabled]:active, 
fieldset[disabled] .btn-question:active, 
.btn-question.disabled.active, 
.btn-question[disabled].active, 
fieldset[disabled] .btn-question.active { 
  background-color: #ED7458; 
  border-color: #D45B3F; 
} 
 
.btn-question .badge { 
  color: #ED7458; 
  background-color: #FFFFFF; 
}

footer {
    background-color: #efefee;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.boxhead a {
    color: #000000;
    text-decoration: none;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image > a { font-size: 36px !important; color: #fff !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box .space { height: 30px; }
.box > .icon > img { border: 2px solid #fff; border-radius: 50%; }