{% extends 'base.html.twig' %}

{% block title %}Community!{% endblock %}

{% block body %}
<div class="container">
<button class="vertical-center btn btn-dark">Join us on Discord!</button>
</div>
{% endblock %}
