{% extends 'base.html.twig' %}

{% block title %}Community!{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-dark">Join us on Discord!</button>
    </div>
  </div>
</div>
{% endblock %}
